[Unit]
Description=test server
After=network.target

[Service]
Type=forking
User={USER}

ExecStart=/bin/bash -c '{PWD}/server/server -env {PWD}/../server/conf/.env &'
ExecStop=/bin/kill -s QUIT $MAINPID

Restart=always
RestartSec=20s
RemainBeforeExit=true

[Install]
WantedBy=multi-user.target
