[Unit]
Description=test listener
After=network.target
Wants=events-server.service

[Service]
Type=forking
User={USER}

ExecStart=/bin/bash -c '{PWD}/listener/listener >> {PWD}/listener.log &'
ExecStop=/bin/kill -s QUIT $MAINPID

Restart=always
RestartSec=20s
RemainBeforeExit=true

[Install]
WantedBy=multi-user.target
