[Unit]
Discription=test listener

[Service]

ExecStart=/bin/bash -c '{PWD}/listener/listener >> {PWD}/listener.log &'
ExecStop=/bin/kill -s QUIT $MAINPID

Restart=always
RestartSec=20s
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
