[Unit]
Discription=test launcher

[Service]

ExecStart=/bin/bash -c '{PWD}/launcher/launcher >> {PWD}/launcher.log &'
ExecStop=/bin/kill -s QUIT $MAINPID

RestartSec=20s
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
